[submodule "tools/bsl-debug-server"]
	path = tools/bsl-debug-server
	url = https://github.com/Alex1980Alex/bsl-debug-server.git
	branch = master
[submodule "ИБTransportManagementDevelop/Конфигурация"]
	path = ИБTransportManagementDevelop/Конфигурация
	url = https://github.com/Alex1980Alex/IBTransportManagementDevelop-Configuration.git
	branch = master
[submodule "configuration/260304_GKSTCPLK-2182"]
	path = configuration/260304_GKSTCPLK-2182 Доработать создание Направление на разгрузку для заблокированных ТС
	url = https://github.com/Alex1980Alex/Configuration-260304-GKSTCPLK-2182.git
	branch = master
[submodule "configuration/260416_GKSTCPLK-2368"]
	path = configuration/260416_GKSTCPLK-2368 Восстановить предопределенные элементы справочников
	url = https://github.com/Alex1980Alex/-Configuration-260416-GKSTCPLK-2368-.git
	branch = master
[submodule "external/1c_mcp"]
	path = external/1c_mcp
	url = https://github.com/vladimir-kharin/1c_mcp.git
	branch = main
[submodule "tools/bsl-ls/tree-sitter-bsl-src"]
	path = tools/bsl-ls/tree-sitter-bsl-src
	url = https://github.com/Alex1980Alex/tree-sitter-bsl.git
	branch = fix/parenthesized-expression
[submodule "tools/multilspy-fork"]
	path = tools/multilspy-fork
	url = https://github.com/Alex1980Alex/multilspy.git
	branch = feat/bsl-language
[submodule "TransportManagementDevelop_SVETLY/Конфигурация"]
	path = TransportManagementDevelop_SVETLY/Конфигурация
	url = https://github.com/Alex1980Alex/TransportManagementDevelop-SVETLY-Configuration.git
	branch = master
[submodule "MFM/Конфигурация"]
	path = MFM/Конфигурация
	url = https://github.com/Alex1980Alex/UpravlenieMaterialnymiPotokami-Configuration.git
